
.container{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex:1;
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
}

.content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    img{
        border-radius: 10px;
        margin-bottom: 24px;
    }
    .title{
        font-weight: 700;
        text-align: center;
        height: 56px;
        margin-bottom: 16px;
        color: hsl(218, 44%, 22%);
        font-size: 22px;
        line-height: 1.1;
    }
    .description{
        color: hsl(220, 15%, 55%);
        width: 256px;
        font-weight: 400;
        text-align: center;
        height: 57px;
        font-size: 15px;
        line-height: 1.1;
        align-self: center;
    }
}